@use '../util' as *;

:root {
  --page-width: 1170px;
}

%pagewidth {
  max-width: var(--page-width);
  margin-right: auto;
  margin-left: auto;

  @include responsiveMax(huge) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include responsiveMax(big) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @include responsiveMax(small) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include responsiveMax(mini) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

%fullwidth {
  width: 100vw;
  margin-left: calc((-100vw + var(--page-width)) / 2);

  @include responsiveMax(huge) {
    margin-left: -100px;
  }
  @include responsiveMax(big) {
    margin-left: -75px;
  }
  @include responsiveMax(small) {
    margin-left: -50px;
  }
  @include responsiveMax(mini) {
    margin-left: -25px;
  }
}
